input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a4ffa0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8eff8b80;
}

.shadowbox {
    box-shadow: 2px 2px 5px #a4ffa0;
}

.spin {

    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.overlay {
    background-color: rgba(142, 255, 139, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

header:hover>.overlay {
    top: 0;
}

.card {
    animation: translate .4s;

}

@keyframes translate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.cursor {
    cursor: url('/public/cursor.png'), auto;
}